import styles from './{{pascalCase name}}.module.scss'

import React from 'react';

export const {{pascalCase name}}Container = (props: any) => {
  return (
    <div className={styles.{{name}} }>
      <h1>{{pascalCase name}}</h1>
    </div>
  );
};
